<div class="box">
    <div class="row" *ngIf="!loading">
        <div class="col-md-5 col-sm-12">
            <img src="{{data.image}}" alt="">
        </div>
        <div class="col-md-7 col-sm-12">
            <div class="info">
                <ul class="list-unstyled">
                    <li>{{data.category}}</li>
                    <li>{{data.title}}</li>
                    <li><strong>Rating </strong>{{data.rating.rate}}</li>   
                    <li><strong>$</strong> {{data.price}}</li>
                    <li>{{data.description}}</li>
                    <!-- <li><strong>Count :</strong>{{data.rating.count}}</li> -->
                    <li>
                        <button type="button" class="btn btn-warning" >add to cart</button>
                        <button routerLink="/cart" type="button" class="btn btn-warning">go to cart</button>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center">
        <app-spinner *ngIf="loading"></app-spinner>
    </div>

</div>