.footer{
    height: 5rem;
    margin-top: 50px;
    border-top: 2px solid #ffaa06;
    .container{
        display: flex;
        justify-items: center;
        justify-content: space-between;
        position: relative;
        top: 40%;

    ul{

        display: flex;
        align-items: center;
        justify-content: space-between;
        color: black;
        font-size: 15px;
        gap: 25px;
    }
    }
    

}